.text,
.default {
  cursor: pointer;
  user-select: none;

  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 100px;
  padding: 0.375rem 1.5rem;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  text-decoration: none;

  background-color: #3ca779;
  border: none;
  border-radius: 12px;

  transition: 0.3s;
}

.default:hover {
  background: #2e7f5c;
  transition: 0.3s;
}

.default:active {
  background: #49c28e;
  transition: 0.3s;
}

.text {
  color: #3ca779;
  background-color: unset;
  border: 1px solid #3ca779;
}

.text:hover {
  background: #1e1e25;
  transition: 0.3s;
}

.text:active {
  background: #49c28e;
  border: 1px solid #49c28e;
  transition: 0.3s;
}

@media (width >= 300px) and (width <= 500px) {
  .default {
    max-width: unset;
    margin-bottom: 15px;
  }
}

/* @media (width >= 501px) and (width <= 768px) { */

/*  .news_block { */

/*    grid-template-columns: repeat(2, 1fr); */

/*  } */

/* } */

/* @media (width <= 768px) { */

/*  .default { */

/*    max-width: unset; */

/*    margin-bottom: 15px; */

/*  } */

/* } */
