.container {
  max-width: 1280px;
  margin: 0 150px;
}
.title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.96px;
  margin-bottom: 50px;
}
.time {
  margin-bottom: 5px;

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #d6d7e0;
}
